@import './variables.scss';

main {
  .hero {
    height: 80vh;
    @include flex-center(column, center);
    justify-content: space-evenly;
    h1{
      margin: 5vh 0 10vh;
    }
  }
}

.homebutton {
  background-color: lighten($primary, 10%);
  padding: 20px;
  margin: 5px;
  @media (min-width: 800px){
    padding: 20px 30px;
    margin: 40px;
  }
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  color: $black;
  &:hover {
    background-color: lighten($secondary, 10%);
    background-color: $primary;
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
  }
}
.homebutton.two{
  background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
  }
}


.wordofday-container{
  margin-bottom: 20px;
  width: 60vw;
  max-width: 550px;
  .wordofday{
    .wordofdayp{
      margin: 5px 0;
    }
    .wordofdayp.two{
      font-style: italic;
    }
  }
}
